*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  font-family: 'Roboto', sans-serif;
  color: #231D70;
}

.content {
  padding: 0 62px 0 62px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .content {
    padding: 0 30px 0 30px;
  }
}

@media (max-width: 767px) {
  .content {
    padding: 0 5% 0 5%;
  }
}

footer, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  max-width: 100vw;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1 {
  font-size: 94px;
  font-weight: 400;
  line-height: 103px;
  letter-spacing: 0em;
  text-align: left;
}

h2 {
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 72px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 56px;
  }
}

h3 {
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 40px;
}

h4 {
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  font-size: 30px;
}

p {
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 24px;
}

.button-dark {
  background-color: #231D70;
  padding: 35px 57px;
  min-width: 104px;
  color: white;
  border-radius: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 20px;
  border: 1px solid #231D70;
}

.button-light {
  background-color: white;
  padding: 35px 57px;
  min-width: 104px;
  color: #231D70;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(56, 57, 84, 0.1);
          box-shadow: 0px 4px 14px 0px rgba(56, 57, 84, 0.1);
  border: 1px solid white;
  border-radius: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 20px;
}

.btn-hover {
  background: #fff;
  color: #231D70;
  border: 1px solid #231D70;
}

.first-wrap {
  background-image: url("../images/firstback.jpeg");
  background-position: center;
  background-repeat: space;
  background-size: cover;
  min-height: 100vh;
}

.header {
  padding-top: 25px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  margin-top: 10px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__menu {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.header__menu > a {
  margin-right: 32px;
  font-size: 18px;
  z-index: 100;
  text-decoration: none;
}

.header__menu > a:hover {
  text-shadow: 0px 5px 6px rgba(35, 29, 112, 0.3);
}

.header__button {
  padding: 19px 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 133px;
  height: 56px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__button {
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .header__button {
    display: none;
  }
}

.header__menu-mobile {
  display: none;
}

.header__menu-mobile > a {
  text-decoration: none;
}

.header__mobile-button {
  display: none;
}

@media (max-width: 767px) {
  .header__mobile-button {
    display: block;
    padding: 7px 10px;
    background-color: #231D70;
    border-radius: 8px;
  }
}

@media (max-width: 767px) {
  .header__mobile-button i {
    color: white;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .display {
    display: block;
    position: absolute;
    background-color: white;
    width: 90%;
    text-align: center;
    padding: 20px 0px;
    border-radius: 8px;
  }
}

@media (max-width: 767px) {
  .unactive {
    display: none;
  }
}

.banner {
  padding-top: 284px;
  max-width: 859px;
  position: relative;
}

@media (max-width: 767px) {
  .banner {
    padding-top: 100px;
  }
}

.banner__img-1, .banner__img-2, .banner__img-3, .banner__img-4 {
  position: absolute;
}

.banner__img-1 {
  left: 0%;
  right: 77.08%;
  top: 875px;
  height: 392px;
}

@media (max-width: 767px) {
  .banner__img-1 {
    display: none;
  }
}

.banner__img-2 {
  left: 35.39%;
  right: 31.39%;
  top: -50px;
}

@media (max-width: 767px) {
  .banner__img-2 {
    display: none;
  }
}

.banner__img-3 {
  right: 0;
  top: 338px;
  height: 468px;
}

@media (max-width: 767px) {
  .banner__img-3 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner__img-3 {
    display: none;
  }
}

.banner__img-4 {
  left: 0%;
  right: 85.35%;
  top: 242px;
  height: 268px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner__header {
    font-size: 80px;
    line-height: 86px;
  }
}

@media (max-width: 767px) {
  .banner__header {
    line-height: 42px;
    font-size: 40px;
  }
}

.banner__text {
  text-align: left;
  padding: 38px 0 32px;
  font-size: 16px;
  max-width: 700px;
}

@media (max-width: 767px) {
  .banner__text {
    line-height: 24px;
  }
}

.banner__btn-contact {
  margin-right: 28px;
  margin-bottom: 354px;
}

@media (max-width: 767px) {
  .banner__btn-contact {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .banner__btn-portfolio {
    padding: 35px 30px;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 119px;
  margin-bottom: 340px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefits {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
    margin-top: 40px;
    padding-bottom: 0;
  }
}

.benefits__numbers {
  font-size: 94px;
  color: #AB9FF8;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefits__numbers {
    font-size: 76px;
  }
}

@media (max-width: 767px) {
  .benefits__numbers {
    margin-top: 40px;
  }
}

.benefits__numbers > span {
  line-height: 103px;
}

.benefits__desc {
  font-weight: 700;
  line-height: 26px;
}

.services {
  position: relative;
}

@media (max-width: 767px) {
  .services {
    margin-top: 200px;
  }
}

.services__img-1, .services__img-2 {
  position: absolute;
}

@media (max-width: 767px) {
  .services__img-1, .services__img-2 {
    display: none;
  }
}

.services__img-1 {
  right: 0%;
  top: -90px;
  height: 286px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .services__img-1 {
    display: none;
  }
}

.services__img-2 {
  left: -9.44%;
  right: 82.4%;
  top: 1067px;
  height: 343px;
}

.services__header {
  position: relative;
}

.services__header::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 4px;
  background-color: #AB9FF8;
  top: -20px;
  left: 46%;
  right: 50%;
}

@media (max-width: 767px) {
  .services__header::before {
    left: 36%;
  }
}

.services__text {
  font-size: 16px;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.services__wrap {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .services__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .services__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services__wrap > div {
  max-height: 560px;
  max-height: 562px;
  border-radius: 48px;
  border: none;
  -webkit-box-shadow: 0px 9px 31px 0px rgba(23, 22, 93, 0.06);
          box-shadow: 0px 9px 31px 0px rgba(23, 22, 93, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 64px 50px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .services__wrap > div {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 10px;
  }
}

@media (max-width: 767px) {
  .services__wrap > div {
    padding: 30px 10px;
  }
}

.services__item-frst {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 5 / 3;
}

.services__item-scnd {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2 / 3 / 6 / 5;
}

.services__item-thrd {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5 / 1 / 9 / 3;
}

.services__item-frth {
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 6 / 3 / 10 / 5;
}

.services__icon {
  width: 207px;
  height: 207px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991px) {
  .services__icon {
    width: 150px;
    height: 150px;
  }
}

.services__name {
  margin-top: 40px;
}

.services__desc {
  margin-top: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .services__desc {
    font-size: 18px;
    line-height: 28px;
    max-width: 350px;
    margin: 0 auto;
  }
}

.services__btn {
  margin: 64px 0 340px 40%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .services__btn {
    margin-left: 30%;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .services__btn {
    margin-left: 12%;
    margin-bottom: 60px;
  }
}

.about {
  background-color: #FFF9F5;
  padding-top: 340px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .about {
    padding-top: 60px;
  }
}

.about__png-1, .about__png-2 {
  position: absolute;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about__png-1, .about__png-2 {
    display: none;
  }
}

@media (max-width: 767px) {
  .about__png-1, .about__png-2 {
    display: none;
  }
}

.about__png-1 {
  left: 40.56%;
  top: 194px;
  height: 241px;
}

.about__png-2 {
  left: 22.32%;
  bottom: 172px;
  height: 299px;
}

.about__wrap-frst, .about__wrap-scnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about__wrap-frst > img, .about__wrap-scnd > img {
    display: none;
  }
}

@media (max-width: 767px) {
  .about__wrap-frst > img, .about__wrap-scnd > img {
    display: none;
  }
}

.about__wrap-frst {
  margin-right: -62px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about__wrap-frst {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .about__wrap-frst {
    margin-right: 0;
  }
}

.about__wrap-scnd {
  margin-left: -62px;
  padding-bottom: 340px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about__wrap-scnd {
    margin-left: 0;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .about__wrap-scnd {
    margin-left: 0;
    padding-bottom: 60px;
  }
}

.about__header {
  position: relative;
  text-align: left;
  margin-top: 115px;
}

.about__header::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 4px;
  top: -32px;
  background-color: #AB9FF8;
}

.about__text {
  text-align: left;
}

.about__text-more {
  padding-top: 100px;
  text-align: left;
  padding-bottom: 30px;
}

.portfolio {
  position: relative;
}

.portfolio__png-1, .portfolio__png-2 {
  position: absolute;
}

@media (min-width: 768px) and (max-width: 991px) {
  .portfolio__png-1, .portfolio__png-2 {
    display: none;
  }
}

@media (max-width: 767px) {
  .portfolio__png-1, .portfolio__png-2 {
    display: none;
  }
}

.portfolio__png-1 {
  top: 251px;
  left: -2%;
}

.portfolio__png-2 {
  bottom: 432px;
  right: 0%;
}

.portfolio__header {
  margin-top: 364px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
  .portfolio__header {
    margin-top: 200px;
  }
}

@media (max-width: 767px) {
  .portfolio__header {
    margin-top: 100px;
  }
}

.portfolio__header::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 4px;
  background-color: #AB9FF8;
  top: -20px;
  left: 46%;
  right: 50%;
}

@media (max-width: 767px) {
  .portfolio__header::before {
    left: 38%;
  }
}

.portfolio__text {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 16px;
  max-width: 700px;
}

.portfolio__wrap {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 54px;
  grid-row-gap: 94px;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 768px) and (max-width: 991px) {
  .portfolio__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .portfolio__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

.portfolio__item-frst, .portfolio__item-scnd, .portfolio__item-thrd, .portfolio__item-frth {
  max-width: 631px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .portfolio__item-frst, .portfolio__item-scnd, .portfolio__item-thrd, .portfolio__item-frth {
    margin: 0 auto;
  }
}

.portfolio__item-frst {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.portfolio__item-scnd {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 4 / 3;
}

.portfolio__item-thrd {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 5 / 2;
}

.portfolio__item-frth {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 6 / 3;
  margin-bottom: 84px;
}

.portfolio__img {
  max-width: 100%;
}

.portfolio__name {
  text-align: left;
  padding-top: 30px;
}

.portfolio__link {
  text-align: left;
}

.portfolio__wrap-btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 340px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .portfolio__wrap-btn {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .portfolio__wrap-btn {
    margin-bottom: 60px;
  }
}

.portfolio__btn-contact {
  margin-right: 28px;
}

@media (max-width: 767px) {
  .portfolio__btn-contact {
    padding: 10px;
  }
}

.capture {
  background-color: #231D70;
  padding-top: 264px;
  position: relative;
}

.capture__png-1, .capture__png-2, .capture__png-3 {
  position: absolute;
}

@media (max-width: 767px) {
  .capture__png-1, .capture__png-2, .capture__png-3 {
    display: none;
  }
}

.capture__png-1 {
  height: 371px;
  top: 36px;
  left: 40%;
}

.capture__png-2 {
  height: 745px;
  top: 114px;
  right: 1.5%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .capture__png-2 {
    display: none;
  }
}

.capture__png-3 {
  height: 343px;
  bottom: -1.5%;
  left: 33%;
}

.capture__header, .capture__text {
  color: white;
  text-align: left;
  max-width: 657px;
}

.capture__header {
  position: relative;
}

@media (max-width: 767px) {
  .capture__header {
    font-size: 50px;
    line-height: 51px;
  }
}

.capture__header::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 4px;
  top: -32px;
  background-color: #AB9FF8;
}

.capture__text {
  font-size: 16px;
}

.capture__btn {
  margin-top: 40px;
  margin-bottom: 210px;
}

.process {
  padding-top: 364px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
  .process {
    padding-top: 200px;
  }
}

@media (max-width: 767px) {
  .process {
    padding-top: 200px;
  }
}

.process__png-1, .process__png-2 {
  position: absolute;
}

.process__png-1 {
  height: 364px;
  top: 379px;
  right: 10%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .process__png-1 {
    top: 0;
  }
}

@media (max-width: 767px) {
  .process__png-1 {
    width: 60%;
    height: auto;
    top: 10%;
    right: 15%;
  }
}

.process__png-2 {
  height: 331px;
  bottom: 280px;
  left: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .process__png-2 {
    bottom: 8%;
  }
}

@media (max-width: 767px) {
  .process__png-2 {
    display: none;
  }
}

.process__img {
  max-width: 280px;
  max-height: 280px;
  margin-right: 32px;
}

@media (max-width: 767px) {
  .process__img {
    display: none;
  }
}

.process__header {
  position: relative;
}

.process__header::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 4px;
  background-color: #AB9FF8;
  top: -20px;
  left: 46%;
  right: 50%;
}

@media (max-width: 767px) {
  .process__header::before {
    left: 38%;
  }
}

.process__text {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 48px;
}

.process__wrap {
  margin-bottom: 71px;
}

.process__item {
  padding: 86px 72px;
  border: none;
  border-radius: 48px;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
          box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
  max-width: 1034px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 767px) {
  .process__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px;
  }
}

.process__btn-slide {
  position: absolute;
  width: 88px;
  height: 88px;
  right: 0%;
  top: 50%;
  background-color: #231d72;
  border-radius: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .process__btn-slide {
    top: 35%;
  }
}

@media (max-width: 767px) {
  .process__btn-slide {
    top: 32%;
    right: 1%;
    opacity: 80%;
  }
}

.process__btn-slide::before {
  font-family: 'FontAwesome';
  color: white;
  font-size: 40px;
  margin-left: 8px;
  content: "\f178";
}

.process__name, .process__desc {
  text-align: left;
}

.process__btn {
  margin-left: 42%;
  margin-bottom: 340px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .process__btn {
    margin-bottom: 150px;
  }
}

@media (max-width: 767px) {
  .process__btn {
    margin-left: 23%;
    margin-bottom: 100px;
  }
}

.invisible {
  display: none;
}

.article {
  background-color: #FFF9F5;
  position: relative;
}

.article__png-1, .article__png-2 {
  position: absolute;
}

.article__png-1 {
  height: 421px;
  top: 0;
  left: -0.5%;
}

.article__png-2 {
  height: 380px;
  bottom: 169px;
  right: 0%;
}

.article__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 364px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .article__main {
    padding-top: 200px;
  }
}

@media (max-width: 767px) {
  .article__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 200px;
  }
}

.article__img {
  width: 100%;
}

.article__header {
  position: relative;
  text-align: left;
}

.article__header::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 4px;
  top: -32px;
  background-color: #AB9FF8;
}

.article__text {
  font-size: 16px;
  margin-top: 13px;
  max-width: 581px;
  text-align: left;
  margin-bottom: 40px;
}

.article__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 991px) {
  .article__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .article__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 60px;
    margin-bottom: 350px;
  }
}

.article__wrap a {
  text-decoration: none;
}

.article__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 632px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .article__item {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 300px;
  }
}

@media (max-width: 767px) {
  .article__item {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    z-index: 1;
  }
}

.article__name, .article__date {
  text-align: left;
  max-width: 518px;
}

.article__name {
  margin-top: 36px;
  margin-bottom: 18px;
}

.article__date {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 523px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .article__date {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .article__date {
    margin-bottom: 0;
  }
}

.article__btn {
  max-height: 92px;
  margin-top: 80px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .article__btn {
    padding-top: 27px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .article__btn {
    padding-top: 27px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.footer {
  min-height: 739px;
  background-color: #231D70;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrap {
  padding-top: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 300px;
  }
}

@media (max-width: 767px) {
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 300px;
  }
}

.footer__info {
  max-width: 356px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__info {
    max-width: 100vw;
  }
}

@media (max-width: 767px) {
  .footer__info {
    max-width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__info-block__text {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer__info-block__text {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__info-block__icons {
    margin-top: 10px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .footer__info-block__icons {
    margin-top: 10px;
    margin-bottom: 60px;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer__nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
}

.footer__nav ul, .footer li {
  color: white;
}

@media (max-width: 767px) {
  .footer__nav ul, .footer li {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__nav ul {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid white;
  }
}

.footer__nav ul > li:first-child {
  padding-top: 37px;
}

.footer__nav ul:last-child {
  border: none;
}

.footer__nav li {
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 20px;
}

.footer__nav li > a {
  text-decoration: none;
  color: white;
}

.footer__copy p {
  color: white;
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 30px;
}

.info-block__img svg {
  width: 310px;
  height: 59px;
}

.info-block__text {
  color: white;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 16px;
  margin-top: 26px;
}

.info-block__icon {
  width: 36px;
  height: 36px;
  margin-right: 15px;
}

.contacts {
  position: relative;
  background-color: #FFF9F5;
  min-height: 60px;
}

.contacts__wrap {
  position: absolute;
  background-color: white;
  width: 92%;
  bottom: -180px;
  padding: 86px 96px;
  border-radius: 30px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 62px 0 62px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .contacts__wrap {
    width: 100vw;
    border-radius: 0;
    padding: 60px 30px;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .contacts__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    border-radius: 0;
    padding: 60px 30px;
    margin: 0;
  }
}

.contacts__png-1, .contacts__png-2, .contacts__png-3 {
  position: absolute;
}

.contacts__png-1 {
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .contacts__png-1 {
    top: -6%;
  }
}

.contacts__png-2 {
  top: 0;
  right: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .contacts__png-2 {
    display: none;
  }
}

@media (max-width: 767px) {
  .contacts__png-2 {
    display: none;
  }
}

.contacts__png-3 {
  bottom: 0;
  left: 41%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .contacts__png-3 {
    display: none;
  }
}

@media (max-width: 767px) {
  .contacts__png-3 {
    display: none;
  }
}

.contacts__header {
  position: relative;
  font-size: 72px;
  font-weight: 400;
  line-height: 84px;
  text-align: left;
  max-width: 352px;
}

@media (max-width: 767px) {
  .contacts__header {
    padding-bottom: 20px;
    margin-top: 30px;
  }
}

.contacts__header::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 4px;
  top: -32px;
  background-color: #AB9FF8;
}

.contacts___btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__btn-phone {
  padding: 35px 94px;
  margin-top: 32px;
}

.popup.active {
  opacity: 100;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 100;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background: #fff;
  width: 400px;
  padding: 80px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 20px;
}

.popup-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5%;
  top: 5%;
  background-color: #231D70;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.popup-close:hover {
  background: #fff;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border: 2px solid #231D70;
}

.popup-close::before {
  font-family: 'FontAwesome';
  content: "\f00d";
  color: white;
  font-size: 10px;
}

.popup-close:hover::before {
  font-family: 'FontAwesome';
  content: "\f00d";
  font-size: 10px;
  color: #231D70;
}

.popup__form input {
  height: 45px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
  margin-bottom: 30px;
  width: 100%;
}

.popup__form input:focus {
  border-bottom: 1px solid #231D70;
}

.popup__form input:focus {
  color: #231D70;
}

.popup__form textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
  font-size: 18px;
  padding-top: 5px;
}

.popup__form textarea:focus {
  border-bottom: 1px solid #231D70;
}

.popup__form textarea:focus {
  color: #231D70;
}

.popup__form-btn {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 18px;
  background: #231D70;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
/*# sourceMappingURL=main.css.map */