.about {
    background-color: $beige;
    padding-top: 340px;
    position: relative;

    @include tablet {
        padding-top: 100px;
    }

    @include mobile {
        padding-top: 60px;
    }

    &__png-1, &__png-2 {
        position: absolute;

        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }
    }

    &__png-1 {
        left: 40.56%;
        top: 194px;
        height: 241px;
    }

    &__png-2 {
        left: 22.32%;
        bottom: 172px;
        height: 299px;
    }

    &__wrap-frst, &__wrap-scnd {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    &__wrap-frst > img, &__wrap-scnd > img {

        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }
    }

    &__wrap-frst {
        margin-right: -62px;

        @include tablet {
            margin-right: 0;
        }

        @include mobile {
            margin-right: 0;
        }
    }

    &__wrap-scnd {
        margin-left: -62px;
        padding-bottom: 340px;

        @include tablet {
            margin-left: 0;
            padding-bottom: 100px;
        }

        @include mobile {
            margin-left: 0;
            padding-bottom: 60px;
        }
    }

    &__header {
        position: relative;
        text-align: left;
        margin-top: 115px;
    }

    &__header::before {
        position: absolute;
        content: '';
        width: 100px;
        height: 4px;
        top: -32px;
        background-color: #AB9FF8;
    }

    &__text {
        text-align: left;
    }

    &__text-more {
        padding-top: 100px;
        text-align: left;
        padding-bottom: 30px;
    }
}