.article {
    background-color: $beige;
    position: relative;

    &__png-1, &__png-2 {
        position: absolute;
    }

    &__png-1 {
        height: 421px;
        top: 0;
        left: -0.5%;
    }

    &__png-2 {
        height: 380px;
        bottom: 169px;
        right: 0%;
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 364px;

        @include tablet {
            padding-top: 200px;
        }

        @include mobile {
            flex-direction: column;
            padding-top: 200px;
        }
    }

    &__header {
        position: relative;
        text-align: left;
    }

    &__header::before {
        position: absolute;
        content: '';
        width: 100px;
        height: 4px;
        top: -32px;
        background-color: #AB9FF8;
    }

    &__text {
        font-size: 16px;
        margin-top: 13px;
        max-width: 581px;
        text-align: left;
        margin-bottom: 40px;
    }

    &__wrap {
        display: flex;
        flex: row;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
        }

        @include mobile {
            flex-direction: column;
            padding-bottom: 60px;
            margin-bottom: 350px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 632px;

        @include tablet {
            margin: 0 auto;
            max-width: 100%;
            height: auto;
            margin-bottom: 300px;
        }

        @include mobile {
            margin: 0 auto;
            max-width: 100%;
            height: auto;
            margin-bottom: 30px;
            z-index: 1;
        }
    }

    &__name, &__date {
        text-align: left;
        max-width: 518px;
    }

    &__name {
        margin-top: 36px;
        margin-bottom: 18px;
    }

    &__date {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 523px;

        @include tablet {
            margin-bottom: 0;
        }

        @include mobile {
            margin-bottom: 0;
        }
    }

    &__btn {
        max-height: 92px;
        margin-top: 80px;

        @include tablet {
            padding-top: 27px;
            margin-top: 0;
        }

        @include mobile {
            padding-top: 27px;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

}