.capture {
    background-color: $dark-blue;
    padding-top: 264px;
    position: relative;

    &__png-1, &__png-2, &__png-3 {
        position: absolute;
    }

    &__png-1 {
        height: 371px;
        top: 36px;
        left: 44%
    }

    &__png-2 {
        height: 745px;
        top: 114px;
        right: 1.5%;
    }

    &__png-3 {
        height: 343px;
        bottom: -1.5%;
        left: 33%;
    }

    
    &__header, &__text {
        color: white;
        text-align: left;
        max-width: 657px;
    }

    &__header {
        position: relative;
    }

    &__header::before {
        position: absolute;
        content: '';
        width: 100px;
        height: 4px;
        top: -32px;
        background-color: #AB9FF8;
    }

    &__text {
        font-size: 16px;
        line-height: 38px;
    }

    &__btn {
        margin-top: 40px;
        margin-bottom: 210px;
    }
}