.footer {
    min-height: 739px;
    background-color: $dark-blue;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__wrap {
        padding-top: 356px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        
    }

    &__info {
        max-width: 356px;
    }

    &__nav {
        display: flex;
        flex: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 50%;
    }

    &__nav ul, li{
        color: white;
    }

    &__nav ul > li:first-child {
        padding-top: 37px;
    }

    &__nav li {
        font-size: 22px;
        line-height: 24px;
        padding-bottom: 20px;
    }

    &__copy p {
        color: white;
        margin-bottom: 42px;
        font-size: 18px;
        line-height: 30px;
    }
}


.info-block {

    &__img svg {
        width: 310px;
        height: 59px;
    }

    &__text {
        color: white;
        text-align: left;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 16px;
        margin-top: 26px;
    }

    &__icon {
        width: 36px;
        height: 36px;
        margin-right: 15px;
    }
}

.contacts {
    position: relative;
    background-color: $beige;
    min-height: 60px;

    &__wrap {
        position: absolute;
        background-color: white;
        width: 92%;
        bottom: -180px;
        padding: 86px 96px;
        border-radius: 30px;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 62px 0 62px;
    }

    &__header {
        position: relative;
        font-size: 72px;
        font-weight: 400;
        line-height: 84px;
        text-align: left;
        max-width: 352px;
    }

    &__header::before {
        position: absolute;
        content: '';
        width: 100px;
        height: 4px;
        top: -32px;
        background-color: #AB9FF8;
    }

    &___btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__btn-phone {
        padding: 35px 94px;
        margin-top: 32px;
    }
}