.portfolio {
    position: relative;

    &__png-1, &__png-2 {
        position: absolute;

        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }
    }

    &__png-1 {
        top: 251px;
        left: -2%;
    }

    &__png-2 {
        bottom: 432px;
        right: 0%;
    }

    &__header {
        margin-top: 364px;
        position: relative;

        @include tablet {
            margin-top: 200px;
        }

        @include mobile {
            margin-top: 100px;
        }
    }

    &__header::before {
        position: absolute;
        content: '';
        width: 100px;
        height: 4px;
        background-color: #AB9FF8;
        top: -20px;
        left: 46%;
        right: 50%;
        

        @include mobile {
            left: 38%;
        }
    }

    &__text {
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 16px;
        max-width: 700px;
    }

    &__wrap {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 54px;
        grid-row-gap: 94px;
        display: grid;

        @include tablet {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
    }

    &__item-frst, &__item-scnd, &__item-thrd, &__item-frth {
        max-width: 631px;

        @include tablet {
            margin: 0 auto;
        }
    }

    &__item-frst {
        grid-area: 1 / 1 / 3 / 2;
    }

    &__item-scnd {
        grid-area: 2 / 2 / 4 / 3;
    }

    &__item-thrd {
        grid-area: 3 / 1 / 5 / 2;
    }

    &__item-frth {
        grid-area: 4 / 2 / 6 / 3;
        margin-bottom: 84px;
    }

    &__img {
        max-width: 100%;
    }

    &__name {
        text-align: left;
        padding-top: 30px;
    }

    &__link {
        text-align: left;
    }

    &__wrap-btn {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 340px;

        @include tablet {
            margin-bottom: 100px;
        }

        @include mobile {
            margin-bottom: 60px;
        }
    }

    &__btn-contact {
        margin-right: 28px;

        @include mobile {
            padding: 10px;
        }
    }
}