.services {
    position: relative;

    @include mobile {
        margin-top: 200px;
    }

    &__img-1, &__img-2 {
        position: absolute;

        @include mobile {
            display: none;
        }
    }

    &__img-1 {
        right: 0%;
        top: -90px;
        height: 286px;

        @include tablet {
            display: none;
        }
    }

    &__img-2 {
        left: -9.44%;
        right: 82.4%;
        top: 1067px;
        height: 343px;
    }

    &__header {
        position: relative;
    }

    &__header::before {
        position: absolute;
        content: '';
        width: 100px;
        height: 4px;
        background-color: #AB9FF8;
        top: -20px;
        left: 46%;
        right: 50%;

        @include mobile {
            left: 36%;
        }
    }

    &__text {
        font-size: 16px;
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
    }

    &__wrap {
        display: grid;
        grid-column-gap: 56px;
        grid-row-gap: 56px;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(4, 1fr);
        margin-top: 40px;

        @include tablet {
            display: flex;
            flex-direction: column;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__wrap > div {
        max-height: 560px;
        max-height: 562px;
        border-radius: 48px;
        border: none;
        box-shadow: 0px 9px 31px 0px rgba(23, 22, 93, 0.06);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 64px 50px;

        @include tablet {
            z-index: 1;
            display: flex;
            flex-direction: column;
            padding: 40px 10px;
        }

        @include mobile {
            padding: 30px 10px;
        }
    }

    &__item-frst {
        grid-area: 1 / 1 / 5 / 3;
    }

    &__item-scnd {
        grid-area: 2 / 3 / 6 / 5;
    }

    &__item-thrd {
        grid-area: 5 / 1 / 9 / 3;
    }

    &__item-frth {
        grid-area: 6 / 3 / 10 / 5;
    }

    &__icon {
        width: 207px;
        height: 207px;
        margin: 0 auto;

        @include tablet {
            width: 150px;
            height: 150px;
        }
    }

    &__name {
        margin-top: 40px;
    }

    &__desc {
        margin-top: 14px;

        @include tablet {
            font-size: 18px;
            line-height: 28px;
            max-width: 350px;
            margin: 0 auto;
        }
    }

    &__btn {
        margin: 64px 0 340px 40%;

        @include tablet {
            margin-left: 30%;
            margin-bottom: 60px;
        }

        @include mobile {
            margin-left: 12%;
            margin-bottom: 60px;
        }
    }
}