h1 {
    font-size: 94px;
    font-weight: 400;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: left;    
}

h2 {
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
    font-size: 72px;
}

h3 {
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    font-size: 40px;
}

h4 {
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    font-size: 30px;
}

p {
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    font-size: 24px;
}