@mixin  mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin dark-button {
    background-color: $dark-blue;
    padding: 35px 57px;
    min-width: 104px;
    color: white;
    border-radius: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    font-size: 20px;
    border: 1px solid $dark-blue;
}

@mixin  light-button {
    background-color: white;
    padding: 35px 57px;
    min-width: 104px;
    color: $dark-blue;
    box-shadow: 0px 4px 14px 0px rgba(56, 57, 84, 0.1);
    border: 1px solid white;
    border-radius: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    font-size: 20px;
}
